**PANDAS**

**Series**

1. Add,Substract,Multiply And Divide Two Pandas Series

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
from collections import Counter

In [ ]:
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
op=input("Enter Operator:")
match op:
  case "+":
    print(ds1+ds2)
  case "-":
    print(ds1-ds2)
  case "*":
    print(ds1*ds2)
  case "/":
    print(ds1/ds2)
  case _:
    print("Invalid Operator")

2. Compare The Elements Of The Two Pandas Series

In [ ]:
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print("Equality:",ds1==ds2)
print("Greater Than",ds1>ds2)
print("Less Than",ds1<ds2)

3. Change The Data Type Of Given A Coloumn Or A Series

In [ ]:
s1=pd.Series(['100','200','python','300.12','400'])
s2=pd.to_numeric(s1,errors='coerce')
print(s2)

4. Convert The First Column Of A DataFrame As A Series

In [ ]:
d={'col1':[1,2,3,4,7,11],
    'col2':[4,5,6,9,5,0],
    'col3':[7,5,8,12,1,11]}
df=pd.DataFrame(d)
s=df.iloc[:,0]
#Alternate Method : By Directly Referencing The Column By Name
#s=df['col1']
print(s)

5. Convert A Given Series To An Array

In [ ]:
s=pd.Series(['100','200','python','300.12','400'])
a=s.values
#Alternate Method :
#a=np.array(s.values.tolist())
print(a,"\n",type(a))

6. Convert Series Of List To One Series

In [ ]:
s=pd.Series([
    ['Red','Green','White'],
    ['Red','Black'],
    ['Yellow']
])
s=s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

7. Sort A Given Series.

In [ ]:
s=pd.Series(['100','200','python','300.12','400'])
new=pd.Series(s).sort_values()
print(new)

8. Add Some Data To An Existing Series

In [ ]:
s=pd.Series(['100','200','python','300.12','400'])
new=pd.concat([s,pd.Series([500,"php"])],ignore_index=True)
print(new)

9. Create A Subset Of A Given Series Based On Value And Condition.

In [ ]:
s=pd.Series([i for i in range(11)])
n=6
new=s[s<n] #Condition
print(new)

10. Change The Order Of Index Of A Given Series.

In [ ]:
s=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
s=s.reindex(index=['B','A','C','D','E'])
print(s)

11. Create The Mean And Standard Deviation Of A Series.

In [ ]:
s=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s.mean())
print(s.std())

12. Get The Items Of A Given Series Not Present In Another Given Series.

In [ ]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
res=s1[~s1.isin(s2)]
print(res)

13. Get The Items Which Aren't Common Of Two Given Series.

In [ ]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
s11=pd.Series(np.union1d(s1,s2))
s22=pd.Series(np.intersect1d(s1,s2))
res=s11[~s11.isin(s22)]
print(res)

14. Compute The Minimum,25th Percentile,Median,75th And Maximum Of A Given Series.

In [ ]:
state=np.random.RandomState(100)
'''
Creates A New Random Number Generator Isolated From The Global
NumPy Random Number Generator.
'''
series=pd.Series(state.normal(10,4,20))
print(series)
res=np.percentile(series,q=[0,25,50,75,100])
print(res)

15. Calculate The Frequency Counts Of Each Unique Value Of A Given Series.

In [ ]:
nums=pd.Series(np.take(list('0123456789'),
              np.random.randint(10,size=40)))
print(nums)
res=nums.value_counts()
print(res)

16. Display Most Frequent Value In A Given Series And Replace Everything Else As 'Other' In The Series.

In [ ]:
series=pd.Series(np.random.randint(1,5,[15]))
print(series)
print("Top Frequent:",series.value_counts())
res=series[~series.isin(series.value_counts().index[:1])]="Other"
print(series)

17. Find The Positions OF Numbers That Are Multiples Of 5 Of A Given Series.

In [ ]:
nums=pd.Series(np.random.randint(1,10,9))
print(nums)
res=np.where(nums%5==0)
print(res)

18. Extract Items At Given Positions Of A Given Series.

In [ ]:
nums=pd.Series(list('2390238923902390239023'))
pos=[0,2,6,11,21]
res=nums.take(pos)
print(res)

19.Get The Positions Of Items Of A Given Series In Another Given Series.

In [ ]:
s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2=pd.Series([1,3,5,7,10])
res=[pd.Index(s1).get_loc(i) for i in s2]
print(res)

20.Convert The First And Last Character Of Each Word To Upper Case In Each Word Of A Given Series

In [ ]:
s1=pd.Series(['php','python','java','c#'])
print(s1)
res=s1.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())
print(res)

21. Calculate The Number Of Character In Each Word In A Given Series

In [ ]:
s1=pd.Series(['Php','Python','Java','C#'])
print(s1)
res=s1.map(lambda x:len(x))
print(res)

22. Convert A Series Of Date Strings To A Timeseries

In [ ]:
dates=pd.Series(['01 Jan 2015','10-02-2016',
                 '20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print(dates)
print(pd.to_datetime(dates))

23. Get The Day Of Month,Day Of Year,Week Number And Day Of Week From A Given Series Of Date Strings.

In [ ]:
dates=pd.Series(['01 Jan 2015','10-02-2016',
                 '20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("Original Series:")
print(dates)
dates=dates.map(lambda x:parse(x))
print("Day Of Month:")
print(dates.dt.day.tolist())
print("Day Of Year:")
print(dates.dt.dayofyear.tolist())
print("Week Number:")
print(dates.dt.weekofyear.tolist())
print("Day Of Week:")
print(dates.dt.weekday_name.tolist())

24. Convert Year-Month String To Dates Adding A Specified Day Of The Month.

In [ ]:
dates=pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018','May 2019'])
print(dates)
res=dates.map(lambda d:parse('11'+d))
print(res)

25. Fliter Words From A Given Series That Contain Atleast Two Vowels.

In [ ]:
colors=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
print(colors)
res=colors.map(lambda c:sum([Counter(c.lower()).get(i,0) for i in list('aieu')])>=2)
print(colors[res])

26. Find The Positions Of The Values Neighboured By Smaller Values On Both Sides In A Given Series.

![image.png]()

In [ ]:
nums=pd.Series([1,8,7,5,6,5,3,4,7,1])
print(nums)
print("\nPositions Of The Values Of Peaks:")
'''
Firstly Computing The Second Order Difference OF The 'nums' Series
Using The np.diff and np.sign Function Then Difference Of Consecutive
Elements Of The Resulting Sign Series
'''
temp=np.diff(np.sign(np.diff(nums)))
'''
Difference Is Given By out[i]=a[i+1]-a[i] Along
The Given Axis,Higher Differences Are Calculated By Using diff
Recursively.
Sign Function Returns -1 if x<0,0 if x==0, 1 if x>0.
nan Is Returned For NaN Inputs.
'''
res=np.where(temp==-2)[0]+1
'''
Finds The Positions In The Secod Order Difference Series
Where The Value Is Equal To -2.
where() Fucntions Returns A Tuple Containing The Indices Where
This Condition Is True.
'''
print(res)

27. Compute The Autocorrelations Of A Given Numeric Series.

**Autocorrelation***: The Correlation Of A Signal With A delayed Copy Of Itself As A Function Of Delay.

Its The Similarity Between Observations As A Function Of The Time Lag Between Them.

Also Known As Serial Correlation.

In [ ]:
nums=pd.Series(np.arange(15)+np.random.normal(1,10,15))
print(nums)
autoco=[nums.autocorr(i).round(2) for i in range(11)]
'''
Creates A Series Where Each Element Is The Sum Of A
Corresponding Element In A Range Of 15 Numbers And A Random Number Drawn
From A Normal Distribution With A Mean Of 1 And Standard
Deviation Of 10
'''
print("\nAutocorrelation Of The Said Series:")
print(autoco[1:])

28. Convert A Given Series Into A DataFrame With Its Index As Another Coloumn On The DataFrame

In [ ]:
charlst=list('ABCDEFGHIJKLMNOP')
num=np.arange(8)
numdic=dict(zip(charlst,num))
s=pd.Series(numdic)
df=s.to_frame().reset_index()
print(df.head())

29. Stack Two Given Series Vertically And Horizontally.

In [ ]:
s1=pd.Series(range(10))
s2=pd.Series(list('pqrstuvwxy'))
print(s1)
print(s2)

df=pd.concat([s1,s2],axis=1)
print("Stacking Series Horizontally And Vertically:")
print(df)

**DataFrame**

1. Get The First 3 Rows Of A Given DatFrame.

In [ ]:
examdata={'name':["A","B","C","D","E","F","G","H","I","J"],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
          'attempt':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['y','n','y','n','n','y','y','n','n','y']}
labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(examdata,index=labels)
print("First 3 Rows:")
print(df.iloc[:3])

2. Select The Rows Where The Number Of Attempts In The Examination Is Greater Than 2.

In [ ]:
print("Rows Where Number Of Attempts >2 :")
print(df[df['attempt']>2])

3. Count The Number OF Rows And Coloumns Of A DataFrame.

In [ ]:
r,c=len(df.axes[0]),len(df.axes[1])
print("Number Of Rows And Coloumns:",r,"And",c)

4. Select The Rows Where The Score Is Missing.

In [ ]:
print("\nMissing Data Rows:\n",df[df['score'].isnull()])

5. Calculate The Sum Of The Examination Attempts By The Students.

In [ ]:
print(df['attempt'].sum())

6. Append A New Row 'k' To DataFrame With Given Values For Each Column. Now Delete The New Row And Return The Original Data Frame.

In [ ]:
df.loc['k']=[1,'K','y',15.5]
print("After Appending:")
print(df)
df=df.drop('k')
print("After Deleting:")
print(df)

7. Sort The DataFrame First By 'name' In Descending Order,Then By 'score' In Ascending Order.

In [ ]:
df=df.sort_values(by=['name','score'],ascending=[False,True])
print(df)

8. Delete The 'attempt' Column From The DataFrame.

In [ ]:
df.pop('attempt')
print(df)

9. Insert A New Column In Existing DataFrame.

In [ ]:
color = ['Red','Blue','Orange','Red','White',
         'White','Blue','Green','Green','Red']
df['color']=color
print(df)

10. Iterate Over Rows In A DataFrame.

In [ ]:
examdata=[{'name':'A','score':12.5},
           {'name':'B','score':9},
           {'name':'C','score':16.5}
           ]
df=pd.DataFrame(examdata)
for i,j in df.iterrows():
  print(j['name'],j['score'])

11. Get List From DataFrame Column Header.

In [ ]:
examdata={'name':["A","B","C","D","E","F","G","H","I","J"],
          'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
          'attempt':[1,3,2,3,2,3,1,1,2,1],
          'qualify':['y','n','y','n','n','y','y','n','n','y']}
labels=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(examdata,index=labels)
print(list(df.columns.values))

12. Rename Columns Of A Given DataFrame.

In [ ]:
d = {'col1':[1,2,3],
     'col2':[4,5,6],
     'col3':[7,8,9]
     }
df=pd.DataFrame(data=d)
print(df)
df.columns=['Column1','Column2','Column3']
#Alternate Method:
#df=df.rename(columns={'col1':'Column1','col2':'Column2','col3':'Column3'})
print(df)

13. Select Rows From A Given DataFrame Based On Values In Some Columns.

In [ ]:
print("Rows For Column 1 Value:")
print(df.loc[df['Column1']==1])

14. Change The Order Of A DataFrame Columns.

In [ ]:
df=df['Column3','Column2','Column1']
print(df)

15. Write A DataFrame To CSV File Using Tab Seperator.

In [ ]:
df.to_csv('examd.csv',sep='\t',index=False)
newdf=pd.read_csv('examd.csv')
print(newdf)

16. Count City Wise Number Of People From A Given Data Set (city,name of the person)

In [ ]:
df=pd.DataFrame({'name':['A','B','C','D','E','F','G','H','I','J'],
                    'city':['1','2','1','1','1','2','2','3','3','2']})
g=df.groupby(["city"]).size().reset_index(name='Number Of People:')
'''
groupby() Groups The Rows Of df By The 'city' Column
size() Method Counts Number Of Rows In Each Group
reset_index() Method Resets The Index Of The Resulting DataFrame And
renames The Column To 'Number Of People:'
'''
print(g)